.card {
    display: flex;
    background-color: black;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 3vw;
    justify-content: center;
    align-content: center;
    width: 400px;
}

.add-button {
    width: 35%;
}