#list {
    margin-bottom: 15px;
    box-shadow: 3px 3px rgb(141, 141, 141), -0.5em 0 .4em rgb(129, 129, 102);
}

.blockquote-footer {
    text-align: right;
}

.exit-buttons {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    text-align: right;
    background-color: blue;
}

.exit-button {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    text-align: right;
    background-color: blue;
}

.mr-auto {
    padding: 10px;
}